.subject-blog-card {
    padding: 10px;
}
.subject-blog-card-group {
    color: white;
    font-weight: bold;
    font-size: 16px;
}
    .subject-blog-card-title {
    color: white;
    font-weight: bold;
    font-size: 18px;
}
