.subject-blog-card {
    padding: 10px;
}
.subject-blog-card-group {
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.subject-blog-card-title {
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
