﻿@using System.Threading
@typeparam T
@inject IJSRuntime JSRuntime
@implements IAsyncDisposable
@namespace SOEWeb.Components

@foreach (var item in _items)
{
@ItemTemplate(item)
}
@if (_loading)
{
@LoadingTemplate
}

<div  @ref="_lastItemIndicator" style="height:1px"></div>