
.icon-gmail:before { content: '\e800'; } /* '' */
.icon-address-book:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-calendar:before { content: '\e803'; } /* '' */
.icon-users:before { content: '\e804'; } /* '' */
.icon-newspaper:before { content: '\e805'; } /* '' */
.icon-attach:before { content: '\e806'; } /* '' */
.icon-book:before { content: '\e807'; } /* '' */
.icon-book-1:before { content: '\e808'; } /* '' */
.icon-award:before { content: '\e809'; } /* '' */
.icon-cog:before { content: '\e80a'; } /* '' */
.icon-logout:before { content: '\e80b'; } /* '' */
.icon-camera:before { content: '\e80c'; } /* '' */
.icon-picture:before { content: '\e80d'; } /* '' */
.icon-lock:before { content: '\e80e'; } /* '' */
.icon-user-delete:before { content: '\e80f'; } /* '' */
.icon-comment:before { content: '\e810'; } /* '' */
.icon-share:before { content: '\e811'; } /* '' */
.icon-arrows-ccw:before { content: '\e812'; } /* '' */
.icon-off:before { content: '\e813'; } /* '' */
.icon-bookmark:before { content: '\e814'; } /* '' */
.icon-minus-circled:before { content: '\e815'; } /* '' */
.icon-user:before { content: '\e816'; } /* '' */
.icon-left-big:before { content: '\e817'; } /* '' */
.icon-emo-coffee:before { content: '\e818'; } /* '' */
.icon-emo-beer:before { content: '\e819'; } /* '' */
.icon-emo-sunglasses:before { content: '\e81a'; } /* '' */
.icon-emo-thumbsup:before { content: '\e81b'; } /* '' */
.icon-key-inv:before { content: '\e81c'; } /* '' */
.icon-dot-3:before { content: '\e81d'; } /* '' */
.icon-up-open:before { content: '\e81e'; } /* '' */
.icon-eye:before { content: '\e81f'; } /* '' */
.icon-check:before { content: '\e820'; } /* '' */
.icon-trash:before { content: '\e821'; } /* '' */
.icon-pencil:before { content: '\e822'; } /* '' */
.icon-archive:before { content: '\e823'; } /* '' */
.icon-folder-open:before { content: '\e824'; } /* '' */
.icon-hourglass:before { content: '\e825'; } /* '' */
.icon-plus-circled:before { content: '\e826'; } /* '' */
.icon-users-1:before { content: '\e827'; } /* '' */
.icon-link:before { content: '\e828'; } /* '' */
.icon-heart:before { content: '\e829'; } /* '' */
.icon-github-circled:before { content: '\e82a'; } /* '' */
.icon-cancel:before { content: '\e82b'; } /* '' */
.icon-flag-filled:before { content: '\e82c'; } /* '' */
.icon-attention:before { content: '\e82d'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */
.icon-trello:before { content: '\f181'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-hand-paper-o:before { content: '\f256'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */
