body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    font-family: -system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

table {
    width: 100%;
    --border: black;
    --border-style: double;
}

th, td {
    padding: 0.5rem 1rem;
}

th {
    font-weight: normal;
    border-top: thin dotted #ccc;
}

td {
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1.4;
    border-radius: 0.2rem;
    transition: opacity 0.3s ease;
}

td > span {
    font-size: 0.8em;
    font-weight: normal;
    display: block;
    width: 100%;
}