@page "/download"


<style type="text/css">
    
    body, .button:after {
        background: #2c3e50;
    }


    .news-app-promo__section {
        display: inline-block;
        margin: 0 auto;
        position: relative;
        width: 100%;
        text-align: center;
        margin-top: 8px;
    }

    .card-title {
        color: black;
        font-family: helvetica;
        min-width: 277px;
        border-right: 0.25em solid #fff;
        border-left: 0.25em solid #fff;
        padding: 0 1em;
        width: 35%;
        margin: 1em auto;
        display: block;
        font-weight: bold;
    }

    .news-app-promo-text {
        color: #fff;
        font-family: helvetica;
        min-width: 277px;
        width: 33%;
        margin: 1em auto;
        display: block;
    }

    .news-app-promo-text__tagline {
        font-size: 1.09em;
    }

    .news-app-promo-text__download {
        font-size: 2.25em;
        font-weight: 600;
    }

    .news-app-promo-buttons {
        margin: 0 auto;
        max-width: 35%;
        display: block;
    }

    .news-app-promo-buttons__buttons {
        display: block;
    }

    .news-app-promo-buttons__logo {
        display: inline-block;
    }

    .news-app-promo-subsection {
        display: inline-block;
        margin: 0 auto;
        margin-right: 10px;
    }

    .news-app-promo__bbc-logo {
        display: block;
        width: 106px;
        margin-bottom: 8px;
    }

    .news-app-promo__play-store,
    .news-app-promo__app-store {
        display: block;
        width: 161px;
        height: auto;
        margin-bottom: 8px;
    }

    .news-app-promo-subsection--link {
        text-decoration: none;
        border: 0;
    }



</style>

<div>
    <div class="news-app-promo-text">
        <div class="news-app-promo-text__download">Descarga SOE, es gratis!.</div>
    </div>

    <div class="news-app-promo__section">
        <div class="news-app-promo-subsection">
            <img class="news-app-promo__bbc-logo" src="https://play-lh.googleusercontent.com/iREzUvTaDYy-8AYSt0I3fSh0DeuPQkMWs7tcTnOEzqtG7Sk3h2mKb9qWbujKmSpxkBo=s180-rw" width="106" height="106">
        </div>
        <div class="news-app-promo-subsection">
            <a class="news-app-promo-subsection--link news-app-promo-subsection--playstore" href="http://market.android.com/details?id=com.soe.soe_app" target="_parent">
                <img class="news-app-promo__play-store" src="//news.files.bbci.co.uk/include/newsspec/19854/assets/app-project-assets/google_play_store.svg" width="161" height="auto" border="0">
            </a>
            <a class="news-app-promo-subsection--link news-app-promo-subsection--appstore" href="https://apps.apple.com/mx/app/shannon-entropy/id1566482675" target="_parent">
                <img class="news-app-promo__app-store" src="//news.files.bbci.co.uk/include/newsspec/19854/assets/app-project-assets/ios_app_store.svg" width="161" height="auto" border="0">
            </a>
        </div>
    </div>

</div>