body, .button:after {
    background: #2c3e50;
}


.news-app-promo__section {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 8px;
}

.card-title {
    color: black;
    font-family: helvetica;
    min-width: 277px;
    border-right: 0.25em solid #fff;
    border-left: 0.25em solid #fff;
    padding: 0 1em;
    width: 35%;
    margin: 1em auto;
    display: block;
    font-weight: bold;
}

.news-app-promo-text {
    color: #fff;
    font-family: helvetica;
    min-width: 277px;
    width: 33%;
    margin: 1em auto;
    display: block;
}

.news-app-promo-text__tagline {
    font-size: 1.09em;
}

.news-app-promo-text__download {
    font-size: 2.25em;
    font-weight: 600;
}

.news-app-promo-buttons {
    margin: 0 auto;
    max-width: 35%;
    display: block;
}

.news-app-promo-buttons__buttons {
    display: block;
}

.news-app-promo-buttons__logo {
    display: inline-block;
}

.news-app-promo-subsection {
    display: inline-block;
    margin: 0 auto;
    margin-right: 10px;
}

.news-app-promo__bbc-logo {
    display: inline-block;
    width: 106px;
    margin-bottom: 8px;
}

.news-app-promo__play-store,
.news-app-promo__app-store {
    display: block;
    width: 161px;
    height: auto;
    margin-bottom: 8px;
}

.news-app-promo-subsection--link {
    text-decoration: none;
    border: 0;
}

.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

    .card:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

.subject-card {
    background-color: cornflowerblue;
    border-radius: 2px;
    display: inline-block;
    padding: 10px;
    margin: 0px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
