@page "/share/{ShareType}/{ShareId}"


<style type="text/css">
    .subject-blog-card {
        background:@SubjectColor;
    }
</style>

<div>
    <div class="news-app-promo-text">
        <div class="news-app-promo-text__tagline">@UserName ha compartido contiigo:</div><br>
        <div class="card">
            <div class="subject-card">
                Sistemas distribuidos - 7CV23
            </div>
            <div class="card-title">Radiografía de servidor Linux NGINX...</div>
            <div class="card-title">🕑 09/09/2021 18:05</div><br>
        </div>
        <div class="news-app-promo-text__download">Abrir con SOE.</div>

    
    </div>
    <div class="news-app-promo__section">
        <div class="news-app-promo-subsection">
            <img class="news-app-promo__bbc-logo" src="//news.files.bbci.co.uk/include/newsspec/19854/assets/app-project-assets/bbc_news_logo.svg" width="106" height="106">
        </div>
        <div class="news-app-promo-subsection">
            <a class="news-app-promo-subsection--link news-app-promo-subsection--playstore" href="https://play.google.com/store/apps/details?id=bbc.mobile.news.ww&amp;hl=en" target="_parent">
                <img class="news-app-promo__play-store" src="//news.files.bbci.co.uk/include/newsspec/19854/assets/app-project-assets/google_play_store.svg" width="161" height="auto" border="0">
            </a>
            <a class="news-app-promo-subsection--link news-app-promo-subsection--appstore" href="https://itunes.apple.com/us/app/bbc-news/id364147881?mt=8" target="_parent">
                <img class="news-app-promo__app-store" src="//news.files.bbci.co.uk/include/newsspec/19854/assets/app-project-assets/ios_app_store.svg" width="161" height="auto" border="0">
            </a>
        </div>
    </div>
  
</div>