@using SOEWeb.Shared
@using Kit.Razor.Components
@using AsyncAwaitBestPractices
@page "/materias/{UserId}/{TeacherId}/{GroupId}/{SubjectId}"


<style type="text/css">
    .subject-blog-card {
       background:@Data.Subject.ColorDark;
    }
</style>
<RadzenCard class="subject-blog-card">
    <div class="row">
        <div class="col-md-12">
            <label class="subject-blog-card-title">@Data.Subject.Name</label>
        </div>
    </div>
</RadzenCard>
<CommentTextBox Data="@Data" />
<InfiniteScroll ObserverTargetId="@("observerTarget"+Data.SubjectId)" ObservableTargetReached="(e) =>CommentsService.GetCommentsAsync(Data).SafeFireAndForget()">
    @foreach (var comment in this.CommentsService.Comments)
    {
        <CommentTemplate Comment="comment" Data="Data" />
    }
    @*The target element that we observe. Once this is reached the callback will be triggered.*@

    <div id="@("observerTarget"+Data.SubjectId)"><span class="oi oi-reload spin"></span> No mas comentarios...</div>
</InfiniteScroll>




