<div class="row comment-actions-box">
    <button class="comment-button">
        @if (Comment.Vote is true)
        {
            <span @onclick="() =>CommentsService.Rate(Data,Comment, null)"
                  class="oi oi-thumb-up subject-blog-card-group card-icon like" style="color: #5EDB5E;" data-inline="false"></span>
        }
        else
        {
            <span @onclick="() => CommentsService.Rate(Data,Comment, true)"
                  class="oi oi-thumb-up subject-blog-card-group card-icon like" data-inline="false"></span>
        }
    </button>
    <div class="comment-votes">@Comment.Votes</div>
    <button class="comment-button">
        @if (Comment.Vote is false)
        {
            <span @onclick="() => CommentsService.Rate(Data,Comment, null)"
                  class="oi oi-thumb-down subject-blog-card-group card-icon dislike" style="color: #DE7272;" data-inline="false"></span>
        }
        else
        {
            <span @onclick="() =>CommentsService. Rate(Data,Comment, false)"
                  class="oi oi-thumb-down subject-blog-card-group card-icon dislike" data-inline="false"></span>
        }
    </button>
    @if (!IsSubComment)
    {
        <button class="comment-button" @onclick="() => CommentsService.ShowCommentsBox(Data,Comment)">
            <span class="oi oi-comment-square subject-blog-card-group card-icon comment" data-inline="false"></span>
        </button>
    }
    <button class="comment-button" @onclick="() => CommentsService.ShowCommentsBox(Data,Comment)">
        <span class="oi oi-flag subject-blog-card-group card-icon report" data-inline="false"></span>
    </button>
       
</div>