﻿@using System.Threading


@typeparam T






@implements IAsyncDisposable



@namespace SOEAWS.Components




@foreach (var item in _items)
{



@ItemTemplate(item)
}



@if (_loading)
{



@LoadingTemplate
}

<div  @ref="_lastItemIndicator" style="height:1px"></div>