<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>CFBundleDisplayName</key>
	<string>SOE</string>
	<key>CFBundleIdentifier</key>
	<string>com.soe.soe-app</string>
	<key>CFBundleVersion</key>
	<string>2.0.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>SOE</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Permite el acceso para desbloquear la aplicación con tu rostro.</string>
	<key>NSCameraUsageDescription</key>
	<string>Permite el acceso para que puedas tomar fotos utilizando la camará</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Permite el acceso para que puedas adjuntar fotos desde tu galeria.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Permite el acceso para tomar notas de audio.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Permite el acceso para que puedas adjuntar fotos desde tu galeria.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Asocia este dispositivo con tu cuenta SOE.</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.0</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>gamekit</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcons.appiconset</string>
</dict>
</plist>
