@using System.Diagnostics
@inherits LayoutComponentBase

<div class="page">
    @*@if (Debugger.IsAttached)
    {
        <div class="sidebar">
            <NavMenu/>
        </div>
    }*@
    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
